.textField {
  margin-bottom: 16px;
}

.buttonGroup {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.uploadFileButtonGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.uploadButton {
  width: 10rem;
}
