.textField,
.tabs {
  margin-bottom: 16px;
}

.buttonGroup {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.uploadFileButtonGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.uploadButton {
  width: 10rem;
}

.submitButton {
  margin-top: 16px;
}
