.countryItem {
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* .deletedCountry {
  opacity: 0.5;
  background-color: #9ca3af;
  filter: blur(0.8px);
  transform: scale(1.05);
  transition:
    opacity 0.3s ease,
    filter 0.3s ease,
    transform 0.3s ease;
} */
