.countryItem {
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.link {
  text-decoration: none;
  color: inherit;
}

.parent {
  /* height: 500px;
  overflow: auto; */
}

/* .gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
}

.countryItem {
  display: flex;
  flex-direction: column;
} */
