.countryList {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 32px;
  padding: 16px;
  color: #1f2937;
  width: 100%;
  max-width: 1200px;
}

.countryItem {
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.link {
  text-decoration: none;
  color: inherit;
}
