.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    rgba(59, 130, 246, 1) 0%,
    rgba(232, 121, 249, 1) 50%,
    rgba(30, 64, 175, 1) 100%
  );
  padding: 10px 20px;
  font-family: 'Lucida Console', serif;
  width: 100%;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

.navLinks,
.socialLinks {
  display: flex;
  gap: 15px;
}

.navLinks a,
.socialLinks a {
  text-decoration: none;
  color: #bae6fd;
  transition: color 0.3s;
}

.navLinks a:hover,
.socialLinks a:hover {
  color: #db2777;
}
