.heroText {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #d4d4d4;
  text-align: left;
  padding-left: 68px;
  border-radius: 10px;
  font-weight: 700;
  z-index: 2;
}

.heroText h1 {
  font-size: 3rem;
  line-height: 1.2;
}

.button {
  padding: 10px 20px;
  background-color: #d946ef;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #3730a3;
}
