.languageButtonContainer {
  position: relative;
}

.button {
  all: unset;
  cursor: pointer;
  transition: background-color 0.3s;
  color: rgba(30, 58, 138);
}

.button:hover {
  color: #db2777;
}

.dropdown {
  position: absolute;
  list-style-type: none;
  z-index: 100;
  left: -5px;
  top: 100%;
  margin-top: 4px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.dropdownItem {
  display: block;
  padding: 4px 8px;
  width: 100%;
  text-align: left;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  color: rgba(30, 58, 138);
}

.dropdownItem:hover {
  color: #db2777;
}
